* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    margin-left: 10px;   
}

body {
    
    /* background: linear-gradient(to bottom, rgb(247, 247, 187), rgb(218, 164, 32)); */
    background-color: rgb(228, 183, 70);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    
    
}

p {
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 40px; 
}

h1 {  
    font-size: 40px;
    font-weight: 900;
    margin-left: 20;
   
}

h2,h4 {
    margin: auto;
}

img {
    width: 600px;
    height: 614px;
    margin: auto;
    padding-bottom: 10px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.card {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.form {
    padding: 10px 15px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    width: 200px
}

.searchbutt {
    background-color: rgb(7, 131, 168);
    padding: 10px 15px;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    width: 200px
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 167, 35);
    color: white;
    /* margin-left: 400; */
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}  

#votes {
    font-size: 28px;
    font-weight: 900;
}

#upVote {
    background-color: rgb(223, 67, 10);
    width: 125px;
    margin-bottom: 10px;
    margin-left: 40px;
    border-radius: 300px;
    padding: 5px;
}

#downVote {
    background-color: rgb(7, 131, 168);
    width: 125px;
    margin-bottom: 10px;
    margin-left: 40px;
    border-radius: 300px;
    padding: 5px;
}


